.background {
    position: relative;
    width: 100%;
    height: 91vh; 
    background-image: url('computer-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; 
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.content {
    position: relative;
    z-index: 2; 
}


.curly {
    color: rgb(146, 24, 217);
    font-size: 70px;
}


.DevCourse h1 {
    font-weight: bold;
    font-size: 60px;
}


.btn {
    background-color: rgb(146, 24, 217);
    border: 3px solid rgb(146, 24, 217);
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
}


.facts {
    display: flex;
    justify-content: space-around;
}


.navBar {
    position: relative;
    width: 100%;
    height: 9.5vh; 
    background-color: rgb(241, 241, 241); 
    z-index: 3; 
    margin-top: -5px; 
}

nav{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    height: 100%; 
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 55px; 
}